# Gitignore file for futawilly
# Private dirs
git_ignored/
secret/
private/
config/
cfg/
credentials/
creds/
cred/
# Debug dirs
debug/
# Download dirs
download/
dl/
# Work dirs
temp/
tmp/
# Clutter files
*.pyc